* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 8vw;
  align-items: center;
 
  height: 130px;
}

header
{
position: absolute;
width: 100%;
min-height: 66px;
background: #831238;
padding: 0 100px;
display: flex;
justify-content: space-between;
font-family: "Poppins", sans-serif;
}

header ul
{
position: relative;
}
header ul li
{
position: relative;
list-style: none;
float: left;
color: black;
}
header ul li a
{
color: aliceblue;
font-size: 1.1em;
padding: 20px 25px;
text-decoration: none;
display: flex;
justify-content: space-between;
}
header ul li a:hover{
background: #831238;

}
header ul li ul li a{
  color: black;
}
header ul li ul
{
  color: #29303B;
position: absolute;
left: 0;
width: 200px;
background:white;
display: none;
}
header ul li:hover ul
{
display: block;
text-decoration: none;
}
header ul li ul li
{
position: relative;
width: 100%;

}
.videof, .videot {
  width: 100%    !important;
  height: 100%   !important;
}
/* now, make it responsive */
@media (max-width: 900px)
  {
  header
  {
  padding: 10px 20px;
  }
  header nav
  {
  position: absolute;
  width: 100%;
  top: 66px;
  left: 0;
  background: #445964;
  display: none;
  }
  header.active nav{
    display: initial;
  }
  header nav ul li{
    width: 100%;
  }
  header nav ul li ul{
    position: relative;
    width: 100%;
    left: 0;
    z-index: 999;
  }
  header ul li ul li ul{
    top: 0;
    left: 0;
  } 
  header nav ul li:hover ul li{
    background: black;
  }
  .menuToggle
    {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .menuToggle ::before
    {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
    }
    .menuToggle ::after
    {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
    }
    header.active .menu Toggle::before
      {
      transform: rotate (45deg);
      box-shadow: 0 0#fff;
      }
      header.active .menuToggle::after
      {
      transform: rotate (315deg);
      }
  }
/* About */
#about-home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), □rgba(5, 4, 46, 0.7));
  background-image: url("images/sist2.jpg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  }


   /* Import Google font - Poppins */
body{
    background-color: aliceblue;

}
#filter-buttons button {
    border-radius: 3px;
    background: #fff;
    border-color: transparent;

  }
  
  #filter-buttons button:hover {
    background: gold;
  }
  
  #filter-buttons button.active {
    color: #ffffff;
    background: gold;
  }
  
  #filterable-cards .card {
    width: 25rem;
    border: 5px solid transparent;
    
  }
  
  #filterable-cards .card.hide {
    display: none;
  }
  
  @media (max-width: 600px) {
    #filterable-cards {
      justify-content: center;
    }
  
    #filterable-cards .card {
      width: calc(100% / 2 - 10px);
    }
  }


  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #2d2e33;
    padding: 7% 10%;
  }
  
  .footer-col {
    width: 25%;
  }
  
  .links {
    display: flex;
    justify-content: center;
  }
  
  .links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .links a:hover {
    color: #4d4f55;
    background-color: white;
  }
  
  @media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
  
    .footer-col h4::before{
        all: unset;
    }
  }
  
  @media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
  }